<h1 class="mb-1 mt-2 restaurant-show-title text-center">{{restaurant.name}}</h1>
<div class="container">
  <div class="row py-4">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-5 mx-auto">
      <div class="mb-3 detail-btn">
        <a href="/" class="btn btn-info mr-2" role="button" aria-pressed="true">Back</a>
        <a href="/restaurants/edit/{{restaurant._id}}" class="btn btn-info mr-2" role="button"
          aria-pressed="true">Edit</a>
        <form action="/restaurants/delete/{{restaurant._id}}?_method=DELETE" method="POST" class="d-inline">
          <button type="submit" class="btn btn-info">Delete</button>
        </form>
      </div>
      <p class="mb-3">
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2"></i>
          類別：
        </span>
        {{restaurant.category}}
      </p>

      <p class="mb-3">
        <span class="text-secondary">
          <i class="fas fa-map-marker-alt pr-2"></i>
          地址：
        </span>
        {{restaurant.location}}

      </p>

      <p class="mb-3">
        <span class="text-secondary">
          <i class="fas fa-mobile-alt pr-2"></i>
          電話：
        </span>
        {{restaurant.phone}}
      </p>

      <p class="mb-3 d-flex align-items-center">
        <span class="text-secondary">
          <i class="fas fa-pencil-alt pr-1"></i>
          評分：
        </span>
        <span class="h5 my-0 mr-1">{{restaurant.rating}}</span>
        <span class="stars d-flex align-items-center detail-starts">
          {{#times restaurant.rating}}{{/times}}
        </span>
      </p>

    </div>

    <div class="col-md-5 mx-auto">

      <iframe width='85%' height='100%' frameborder='0' scrolling='no' marginheight='0' marginwidth='0'
        src="{{restaurant.googleMapUrl}}">
      </iframe>


    </div>

  </div>

  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <img class="rounded mx-auto d-block mb-4 w-100" src="{{restaurant.image}}" alt="{{restaurant.name}}"
        style="max-width: 600px;">

      <p class="mb-5 pl-5 letter-space">
        <strong>餐廳介紹:</strong>{{restaurant.description}}
      </p>
    </div>
  </div>
</div>