<!-- search bar -->
<div class="container mt-4">
  <div class="row justify-content-center" id="search-bar">
    <div class="col-7">
      <form action="/search">
        <div class="input-group mb-3">

          <input type="text" name="keyword" value="{{keyword}}" class="form-control rounded-left" placeholder="輸入餐廳、分類"
            aria-label="Movie Name..." aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>


    </div>
  </div>
</div>
<!-- restaurant list -->
<div class="container mt-4">
  <ul class="list-unstyled">
    {{#each restaurants}}
    <a href="#" class="row justify-content-center">
      <li class="media mb-4 p-4 col-md-10 col-12">
        <div class="restaurantImg col-3">
          <img class="mr-3" src="{{this.image}}" alt="{{this.name}}">
        </div>
        <div class="media-body col-10">
          <h5 class="mt-0 mb-1">{{this.name}}</h5>
          {{this.description}}
        </div>
      </li>
    </a>
    {{/each}}

  </ul>

</div>